@model Carts.Models.Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
        <fieldset>
            <legend>Opera</legend>
            <div>@Html.LabelFor(m => m.Name)</div>
            <div>@Html.EditorFor(m => m.Name)</div>
            <div>@Html.LabelFor(m => m.Description)</div>
            <div>@Html.EditorFor(m => m.Description)</div>
            <div>@Html.LabelFor(m => m.CategoryId)</div>
            <div>@Html.EditorFor(m => m.CategoryId)</div>
            <div>@Html.LabelFor(m => m.Price)</div>
            <div>@Html.EditorFor(m => m.Price)</div>
            <div>@Html.LabelFor(m => m.PublishDate)</div>
            <div>@Html.EditorFor(m => m.PublishDate)</div>
            <div>@Html.LabelFor(m => m.Status)</div>
            <div>@Html.EditorFor(m => m.Status)</div>
            <div>@Html.LabelFor(m => m.DefaultImageId)</div>
            <div>@Html.EditorFor(m => m.DefaultImageId)</div>
            <div>@Html.LabelFor(m => m.Quantity)</div>
            <div>@Html.EditorFor(m => m.Quantity)</div>
            <div>@Html.LabelFor(m => m.DefaultImageURL)</div>
            <div>@Html.EditorFor(m => m.DefaultImageURL)</div>

            <div>
                <input type="submit" value="Save" />
            </div>
        </fieldset>
        }
        <p>
            @Html.ActionLink("back to list", "Index")
        </p>

    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
